body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.matrix-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.matrix-table,
.matrix-table td {
    border: 1px solid #ddd;
}

.matrix-table td {
    padding: 10px;
    text-align: center;
}

.input-matrix {
    margin: 0 auto;
}

.input-matrix td {
    padding: 5px;
}

.input-matrix input {
    width: 50px;
    padding: 5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button {
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    margin-top: 10px;
}

button:hover {
    background-color: darkgray;
}

.input-matrix-container {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.opening-bracket,
.closing-bracket {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    font-size: 20px; 
}

.input-matrix-container .label {
    position: absolute;
    left: -80px; 
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-style: italic;
}

.inverse-matrix-container {
    margin-top: 20px;
}

.input-matrix-wrapper {
    display: flex;
    align-items: center;
}

.matrix-container-2 .opening-bracket {
    left: -20px; 
}

.matrix-container-2 .closing-bracket {
    right: -18px; 
}

.matrix-container-3 .opening-bracket {
    left: -32px 
}

.matrix-container-3 .closing-bracket {
    right: -30px; 
}

.matrix-container-4 .opening-bracket {
    left: -44px 
}

.matrix-container-4 .closing-bracket {
    right: -40px; 
}

.matrix-container-5 .opening-bracket {
    left: -58px 
}

.matrix-container-5 .closing-bracket {
    right: -54px; 
}

#inverseContainer {
    text-align: center; 
}

#inverseContainer button {
    margin-top: 10px; 
}



